@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default;

};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: purple;
  --color-secondary: teal;
}
a.active{
  color: rgb(223, 22, 223);
}